
.navbar {
  background-color: rgb(0, 0, 0);
  font-family: Arial;
  
}
/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(0, 0, 0);
  padding: 15px 16px;
  text-decoration: none;
  flex-wrap: wrap;
  display: flex;  
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #20ff28;
  color: rgb(0, 0, 0);
  padding: 17px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-right:1px solid #bbb;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #20ff28}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(0, 0, 0);
  padding: 15px 16px;
  text-decoration: none;
}

.ref-btn{
  background-color: #20ff28;
  color: white;
  padding: 4px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
body {
  background-color: rgb(255, 255, 255)
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: #3e8e41;
}

li:last-child {
  border-right: none;
}
